*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-body;
  font-weight: $fw-normal;
  height: 100vh;
  font-size: 1.5rem;
}

main {
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $color-primary;
}
