/*---------- HEADER ----------*/
header {
  padding: 3rem 5rem;
}

.logo {
  max-width: 20rem;
}

/*---------- HERO SECTION ----------*/
.section-hero {
  padding: 3.5rem 5rem;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.hero {
  &__img {
    width: Min(90%, 60rem);
    img {
      width: 90%;
    }
  }

  &__info {
    color: white;
    width: Min(90%, 52rem);
    padding: 0 5rem;
  }
}

/*---------- HELPING CLASS ----------*/
.heading-h1 {
  font-size: 4rem;
  font-family: $font-heading;
  margin-bottom: 1.2rem;
}

.paragraph {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  border: none;
  border-radius: 100px;
  color: $color-primary;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color-secondary;
    color: white;
  }
}

/*---------- FOOTER ----------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
}
.social-link {
  display: flex;
  gap: 1.2rem;
  justify-content: end;
  list-style: none;
}

.social-icon {
  color: white;
  font-size: 1.6rem;
  border: 1.5px solid #fff;
  border-radius: 100px;
  padding: 1rem;

  &:hover {
    color: $color-secondary;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #aaa;

  & * a {
    color: $color-secondary;
  }
}

/*---------- 980px ----------*/
@media (max-width: 61.25em) {
  html {
    font-size: 56.25%;
  }

  body {
    background-image: url("../images/bg-mobile.svg");
  }

  header {
    padding: 4rem;
  }

  .section-hero {
    padding: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    &__img {
      margin-bottom: 5rem;
    }
    &__info {
      text-align: center;
    }
  }

  .heading-h1 {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  .paragraph {
    margin-bottom: 2.8rem;
  }

  .logo {
    max-width: 15rem;
  }

  footer {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
